/* Elements */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--color-light);
}

main {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  position: relative;
}

h1 {
  color: var(--color-dark);
}

section:nth-of-type(-n + 2) {
  background-color: var(--primary-color);
  color: var(--color-dark);
}

dialog {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 23px;
  right: 23px;
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
}

footer ul li a img {
  width: 40px;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer p {
  padding: .5rem;
  background-color: var(--secondary-color);
  color: var(--color-light);
  text-align: center;
}

/* Classes */
.logo {
  display: flex;
  gap: .5rem;
  align-items: center;
  grid-column: 1/3;
  font-weight: 700;
}

.logo img {
  width: 44px;
}

.hamburger {
  height: 44px;
  width: 44px;
  grid-column: 3/4;
  justify-self: end;
  background-color: var(--primary-color);
  color: var(--color-dark);
  border: none;
}

.hamburger::before {
  content: "\2630";
  font-size: 24px;
}
.hamburger.show::before {
  content: "\00D7";
  font-weight: 600;
  font-size: 32px;
}

.navigation {
  grid-column: 1/4;
  background-color: var(--accent-color);
  margin-top: .5rem;
  display: none;
  border: 2px solid var(--color-light);
}

.navigation .current {
  background-color: var(--primary-color);
}

.navigation.show {
  display: block;
}

.navigation ul {
  display: flex;
  flex-direction: column;
}

.navigation ul li {
  padding: .5rem;
}

.navigation ul li:nth-child(even){
  border-block: 2px solid var(--color-light);
}

.navigation ul li a {
  color: var(--color-light);
  text-decoration: none;
}

.navigation .current a {
  color: var(--color-dark);
}

.about p {
  margin: 1rem;
}

.heading {
  padding: .5rem 0;
  background-color: var(--secondary-color);
  color: var(--color-light);
  text-align: center;
}

.student-image div{
  padding: 1rem;
}

.student-image img {
  display: block;
  max-width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;
  border-radius: 8px;
}

.course .course-nav {
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
  gap: .5rem;
}

.course .course-nav li {
  padding: .5rem 0;
  background-color: var(--accent-color);
  color: var(--color-light);
  border-radius: 4px;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.course .course-nav li.current {
  background-color: var(--primary-color);
  color: var(--color-dark);
}

.course .course-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.course .course-list li {
  padding: .5rem 0;
  background-color: var(--primary-color);
  text-align: center;
  border: 1.5px solid var(--accent-color);
  flex: 1;
  cursor: pointer;
}

.course .course-list li.completed {
  background-color: #7dc1f1;
  color: var(--color-dark);
}

.course p {
  text-align: center;
  margin: .5rem 0;
}